# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
scratch/
*.tmp
*.bak

# Claves SSH
*.pem
*.pub

# Archivos de configuración sensibles
.env
