<!-- Fragment for weather widget that can be embedded in other pages -->
<div class="clima-fragment">
    <div class="clima-header-mini">
        <h3>Clima Actual</h3>
        <p id="fragment-location">Cargando...</p>
    </div>
    <div class="clima-main-mini">
        <div class="clima-icon-temp">
            <div class="clima-icon" id="fragment-icon">--</div>
            <div class="clima-temperature" id="fragment-temperature">--°C</div>
        </div>
        <div class="clima-description" id="fragment-description">--</div>
    </div>
</div>
{% endblock %}